- provide(:title, 'Review Idea')
.row
  .span6.offset3
    %h3
      = @innovation_idea.title
    - form_id = "idea_#{@innovation_idea.id}_rating"
    %span.rating{ data: {score: @rating.score}}
      - 1.upto(5).each do |element|
        %span.star{id: "score-#{element}", data: { score: element, formid: form_id}}
          %i.icon-star
    = form_for @rating, html: { id: form_id } do |f|
      = f.hidden_field :rater_id
      = f.hidden_field :rated_id
      = f.hidden_field :score, id: form_id + "_score"
.row
  .span3
    %ul.nav.nav-list
      %li.active
        %a{ href: "#"}
          %i.icon-home
          Home
      %li
        %a{ href: "#{edit_innovation_idea_path(@innovation_idea)}"}
          %i.icon-pencil
          Edit
      %li
        %a{ href: "#"}
          %i.icon-quote-left
          Comment
      %li
        %a{ href: "#"}
          %i.icon-heart
          Add to favourites
      %li
        %a{ href: "#"}
          %i.icon-trash
          Delete
  .span6
    %p= "Average rating: #{@innovation_idea.ravg}"
    %p= "Rated by #{pluralize(@innovation_idea.rcount, 'user')}"
    - if @rating.score
      %p
        = "You have rated this idea as a #{@rating.score}"
    - else
      %p
        You have not rated this idea
    = @innovation_idea.description

