- provide(:title, '')
- if signed_in?
  .row
    %aside.span4
      %section
        = render 'shared/user_info'
      %section
        %p Create and submit innovation ideas
      %section
        = link_to "Create an idea", new_innovation_idea_path, class: "btn btn-large btn-success"
    .span8
      %section
      - if @innovation_ideas.any?
        %h3= "Innovation Ideas (#{@innovation_ideas.count})"
        %ol.initiatives
          = render @innovation_ideas
      - else
        %h3 No Innovation Ideas
- else
  .center.hero-unit
    %h1
      Welcome to the Account Client Technology Office
    %h2
      This is the home page for the ACTO web application
    = link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"
    %p
      This is a protoype version of a site to manage Innovation, Strategy and technology planning. It is subject  to change and development.
    = link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails .org/'
