- provide(:title, @user.name)
.row
  %aside.span4
    %section
      %h3= @user.name
      = @user.email
  .span8
    - if @user.innovation_ideas.any?
      %h3= "My Innovation Ideas (#{@user.innovation_ideas.count})"
      = will_paginate @innovation_ideas
      %ol.initiatives
        = render @innovation_ideas
      = will_paginate @innovation_ideas
    - else
      %h3= "No Innovation Ideas"